<section class="contact" id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <span class="separator">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
          <ul>
            <li>
              <i class="fas fa-map-marker-smile"></i> Habroshim 11, Kiryat
              Bialik
            </li>
            <li>
              <i class="fas fa-envelope-open-text"></i> moranash20@gmail.com
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <a href="052-3798830"> 052-3798830</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="contact__form">
            <form netlify>
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput required />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput required />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Subject</mat-label>
                <input matInput required />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Message</mat-label>
                <textarea
                  required
                  matInput
                  placeholder="lets talk..."
                ></textarea>
              </mat-form-field>
              <button mat-raised-button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </span>
  </div>
</section>
