<section class="portfolio" id="portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 colmd-4 col-sm-3">
        <div class="portfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="portfolio__item-content">
            <h3>Project Title</h3>
            <i class="portfolio__item-desc">Project description</i>
            <a mat-fab>
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 colmd-4 col-sm-3">
        <div class="portfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="portfolio__item-content">
            <h3>Project Title</h3>
            <i class="portfolio__item-desc">Project description</i>
            <a mat-fab>
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 colmd-4 col-sm-3">
        <div class="portfolio__item">
          <img
            class="img-fluid"
            src="https://picsum.photos/400/400"
            alt="project image"
          />
          <div class="portfolio__item-content">
            <h3>Project Title</h3>
            <i class="portfolio__item-desc">Project description</i>
            <a mat-fab>
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
