<section class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__img-container">
          <img
            src="https://picsum.photos/800/800"
            alt="My Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Perspiciatis autem nobis, excepturi optio suscipit amet sunt saepe
            beatae rem, culpa debitis? Neque exercitationem porro cupiditate at
            reprehenderit obcaecati minus nam.
          </p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Lorem, ipsum dolor.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
            voluptatibus, voluptates veritatis alias dolor id nihil? Provident
            blanditiis quos, repudiandae ullam quasi aliquid, quae iure dicta
            consequuntur velit quod nobis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
