<div class="header" [ngClass]="{ 'header--active': isActive }">
  <div class="container">
    <section class="header__image">
      <div class="row">
        <div class="col-lg-12 center">
          <div class="header__image-container">
            <img class="img-fluid" src="https://picsum.photos/300/300" alt="" />
          </div>

          <h2 class="text-center">Moran</h2>
          <h4 class="text-center">Web Developer</h4>
        </div>
      </div>
    </section>
    <div class="header__links">
      <div class="d-flex text-center">
        <a target="_blank" href="https:/facebook">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https:/linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https:/github">
          <i class="fab fa-github-square"></i>
        </a>
        <a target="_blank" href="https:/instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <section class="header__nav">
      <nav id="navbar" class="nabar nav-menu">
        <ul>
          <li>
            <a mat-fab href="#hero" class="nav-link scrollto"
              ><i class="fas fa-home"></i><span>Home</span></a
            >
          </li>
          <li>
            <a mat-fab href="#about" class="nav-link scrollto"
              ><i class="far fa-user"></i><span>About</span></a
            >
          </li>
          <li>
            <a mat-fab href="#resume" class="nav-link scrollto"
              ><i class="far fa-file"></i><span>Resume</span></a
            >
          </li>
          <li>
            <a mat-fab href="#portfolio" class="nav-link scrollto"
              ><i class="fas fa-server"></i><span>Portfolio</span></a
            >
          </li>
          <li>
            <a mat-fab href="#contact" class="nav-link scrollto">
              <i class="far fa-envelope"></i><span>Contact</span></a
            >
          </li>
        </ul>
      </nav>
    </section>
  </div>
</div>

<div class="menu-btn-container">
  <button mat-fab (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
</div>
