@import "../../styles/vars";
.header {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background: #171717;
  height: 100vh;
  color: #fff;
  transition: 0.2s all ease;
  overflow-y: auto;

  &__image-container {
    margin: 50px auto 10px;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    overflow: hidden;
  }

  &__links {
    .d-flex {
      justify-content: space-evenly;
    }
    a {
      font-size: 32px;
      color: #fff;
      transition: 0.2s all ease;
      &:hover {
        color: $main_color;
      }
    }
  }

  &__nav {
    //margin-top: 30px;
    // position: relative;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;
    // .nav-menu {
    //   padding: 0;
    //   display: block;
    // }
    title {
      background-color: salmon;
    }
    nav {
      ul {
        list-style: none;

        li {
          padding: 10px 0;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              color: $main_color;
              display: block;
            }
          }
        }
      }
    }
    .nav-link {
      display: block;
    }
    // :root {
    //   --swiper-navigation-size: 44px;
    //   --swiper-theme-color: #007aff;
    // }
    button {
      border-radius: 40px;
      &:hover {
        color: $main_color;
        display: block;
      }
    }
  }
  @media screen and (max-width: 991px) {
    left: -300px;
    &--active {
      left: 0;
    }
  }
}

.menu-btn-container {
  display: none;
  button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: $main_color;
  }
  @media screen and (max-width: 991px) {
    display: block;
  }
}
