<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"></span>

      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-react-original"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-github-original"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="resume__details">
      <h2>Resume</h2>
      <span class="seperator"></span>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod
        perferendis ullam est reiciendis dolore vel nobis voluptatibus quae
        nulla, voluptatum possimus, nihil hic a distinctio.
      </p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
          <div class="resume__resume-item">
            <h3>Moran</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
              hic nemo. Delectus nostrum consequatur facilis!</i
            >
            <ul>
              <li>Email: moranash20@gmail.com</li>
              <li>phone: 132123</li>
              <li>another info:</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12"></div>
      </div>
    </div>
  </div>
</section>
